.git
.gitignore
node_modules
**/node_modules
frontend/dist
backend/dist
backend/data
backend/uploads
aws
gcp
azure
*.md
.vscode
.env
backend/.env
frontend/.env.local
firebase-service-account.json
**/firebase-service-account.json
**/*.log
